.form{
    border-style: solid;
    border-radius: 15px;
    padding: 30px;
    position: absolute;
    margin-top: 25vh;
    box-shadow: 12px 15px 15px 20px;
    background-color: white;
}
.button{
    width: 100%;
    
}

.bg{
    
    background: url('background_image2.jpg') no-repeat;
    width: 100%; 
    height: 100vh;
    background-size: 100%;
}

